html {
  font-size: 16px;
}

body {
  background-color: rgb(208, 248, 248);
}

.wrapper {
  width: 90%;
  max-width: 600px;
  min-width: 250px;
  height: auto;
  border-color: 2px rgb(55, 134, 134);
  background-color: rgb(143, 228, 221);
}

.empty-field {
  display: flex;
  justify-content: center;
  align-items: center;
  color: red;
  font-size: 1.5rem;
}

.hidden {
  display: none !important;
}
